@import "variables";

:root {
  --color-background: #{$color-white};
  --color-background-soft: #{$color-white-soft};
  --color-background-mute: #{$color-white-mute};

  --color-heading: #{$color-green-dark};
  --color-text: #{$color-text-light};
  --color-text-secondary: #{$color-gray-dark};

  --ms-bg: #{$color-white};
  --ms-border-color: #{$color-gray-light};
  --ms-placeholder-color: #{$color-gray-dark};
  --ms-color: #{$color-text-light};
  --ms-option-color-pointed: #{$color-white};
  --ms-option-bg-pointed: #{$color-green-dark};
  --ms-tag-bg: #{$color-white-mute};
  --ms-tag-color: #{$color-green-dark};
  --ms-dropdown-bg:  #{$color-white};
}

html.dark {
  --color-background: #{$color-black};
  --color-background-soft: #{$color-black-soft};
  --color-background-mute: #{$color-black-mute};

  --color-heading: #{$color-text-dark};
  --color-text: #{$color-text-dark};
  --color-text-secondary: #{$color-gray-light};

  --ms-bg: #{$color-black};
  --ms-border-color: #{$color-gray-dark};
  --ms-placeholder-color: #{$color-gray-light};
  --ms-color: #{$color-text-dark};
  --ms-option-color-pointed: #{$color-black};
  --ms-option-bg-pointed: #{$color-white-mute};
  --ms-tag-bg: #{$color-black-mute};
  --ms-tag-color: #{$color-white};
  --ms-dropdown-bg:  #{$color-black};
}
