$vt-c-white: #ffffff; // Чисто белый
$vt-c-white-soft: #f0f0f0; // Светлый белый для фона
$vt-c-white-mute: #e0e0e0; // Мутный белый для более мягкого фона

$vt-c-green-light: #a8d08d; // Светлый зеленый для мягких акцентов
$vt-c-green: #4caf50; // Основной зеленый для кнопок и ссылок
$vt-c-green-dark: #388e3c; // Темный зеленый для выделений
$vt-c-green-mute: #6dbf74; // Мутный зеленый для менее ярких акцентов

$vt-c-text-light: #333333; // Темный текст для читаемости
$vt-c-text-dark: #ffffff; // Белый текст на темном фоне

$vt-c-divider-light-1: rgba(0, 0, 0, 0.1); // Легкая тень для разделителей (темный фон)
$vt-c-divider-light-2: rgba(0, 0, 0, 0.05); // Более светлая тень для разделителей
$vt-c-divider-dark-1: rgba(255, 255, 255, 0.2); // Разделитель для темного фона
$vt-c-divider-dark-2: rgba(255, 255, 255, 0.1); // Более светлый разделитель на темном фоне

$section-gap: 120px; // Отступы между секциями
